@keyframes background-begin {
    0%{
        background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHZxN2JmajgwZnN0ZXJmZ3Q0bzFuYmhkYmFnemlnb3UzeDl1eWk0diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gi8JtlDffQMexR3YcU/giphy.webp");
    }
    60%{
        background-image: url("https://media0.giphy.com/media/Sk3YpB5CAuPvgeT26H/200.webp?cid=790b7611eb73vuut3xo3qn503zehcsv7bs66rpqdn8whe0q2&ep=v1_gifs_search&rid=200.webp&ct=g");
    }
    100%{
        background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDRnNmJncWZoZmd4aWlhbzA4N3pwcmJxeGN0YWhvZm0wNWJqaWJpaSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/fRMjhlutjykSs/200.webp");
    }
}

#begin {
    background-size: cover;
    background-attachment: fixed;
    animation: background-begin 6s linear both infinite
}
@keyframes background-origen {
    0%{
        background-image: url("https://i.makeagif.com/media/11-04-2016/Bc8BUn.gif");
    }
    60%{
        background-image: url("https://r1.community.samsung.com/t5/image/serverpage/image-id/294402i9003989BE76A1232/image-size/large?v=v2&px=999");
    }
    100%{
        background-image: url("https://www.mubis.es/media/users/3724/84376/coleccion-de-gif-animados-de-infinidad-de-peliculas-para-descargar-l_cover.gif");
    }
}

#origen {
    background-size: cover;
    background-attachment: fixed;
    animation: background-origen 6s ease-in-out both infinite
}
@keyframes background-silente {
    0%{
        background-image: url("https://24.media.tumblr.com/9dfc359c2ed393b8938e4f3567237f42/tumblr_mny9micnSa1qbcfcko1_500.gif");
    }
    60%{
        background-image: url("https://i.gifer.com/GbYz.gif");
    }
    100%{
        background-image: url("https://media.tenor.com/HQUgWnmCQaAAAAAM/silent-movies-black-and-white.gif");
    }
}

#silente {
    background-size: cover;
    background-attachment: fixed;
    animation: background-silente 8s ease-in-out both infinite
}
@keyframes background-sonoro {
    0%{
        background-image: url("https://j.gifs.com/y42dBl.gif");
    }
    60%{
        background-image: url("https://media.tenor.com/JjYakPsjQacAAAAM/casablanca-alcohol.gif");
    }
    100%{
        background-image: url("https://lh3.googleusercontent.com/proxy/Mt4v5jEECZMN4LBbbp9qJq2JgiwLsH-wC92nfetGU6lOeOC4VeEJ1wGHpd9oUVWxml_8mHV-kmcymGpehVVb7GnqTpOYCBhC4PC-rvy5igj1anAu7xjPY4Lg0UIHs6cwzcLu9uCLkQAEvlalMRn0XfI");
    }
}

#sonoro {
    background-size: cover;
    background-attachment: fixed;
    animation: background-sonoro 8s ease-in-out both infinite
}
@keyframes background-color {
    0%{
        background-image: url("https://64.media.tumblr.com/8c58048cb69df1ce3b0eddf51215ed36/tumblr_n6qjy88afG1ste05mo1_500.gif");
    }
    60%{
        background-image: url("https://64.media.tumblr.com/4965207ef0af9ce5a8467030c936bbb8/tumblr_o6rcndNNfB1svv6bpo1_500.gif");
    }
    100%{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8kfswa0xzhPzEycJtxUAD-bFh3oYVonx6gQ&s");
    }
}

#color {
    background-size: cover;
    background-attachment: fixed;
    animation: background-color 8s ease-in-out both infinite
}
@keyframes background-actualidad {
    0%{
        background-image: url("https://assets.vogue.com/photos/58912e364fe15261130205ba/master/pass/08-beatrix-kiddo-kill-bill.gif");
    }
    60%{
        background-image: url("https://imagenes.20minutos.es/uploads/imagenes/2019/04/25/3038410.gif");
    }
    100%{
        background-image: url("https://img.wattpad.com/3abf2f83ed03e831a937cd88d15b5fd28530f17d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f766554773568354365714a3165413d3d2d313234393433393832382e313731653961613762666264383434623833353331323539393833342e676966");
    }
}

#actualidad {
    background-size: cover;
    background-attachment: fixed;
    animation: background-actualidad 5s ease-in-out both infinite
}